@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "CustomFont";
  src: url("/bullten/public/fonts/DMSans_36pt-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "CustomFont", sans-serif;
}
@media only screen and (min-width: 1680px) {
  .container {
    max-width: 1680px;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
.scroll {
  scrollbar-width: none;
}
.overflow-style-none::-webkit-scrollbar {
  display: none;
}

/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

/* <<<<<<<<<<<<<-- slider dots  css ----------->>>>>>> */
